@font-face {
    font-family: 'xiaomai';
    src: url('https://dew-1251587647.cos.ap-guangzhou.myqcloud.com/html/font/xiaomai.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cn';
    src: url('https://dew-1251587647.cos.ap-guangzhou.myqcloud.com/html/font/cn.ttf');
    font-weight: normal;
    font-style: normal;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.iconfont {
    font-weight: 100!important;
    display: inline!important;
}

.font_xiaomai {
    font-family:  xiaomai;
}

.font_ttf {
    font-family:  ttf;
}

body {
    margin: 0;
    /* width: 200vw; */
}

img {
    display: block;
}


.bar_line {
    width: 97%;
    display: flex;
    align-items: center;

}

.bar {
    background: red;
    height: 16px;
    width: 100%;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.bar span {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    right: 18px;
    font-family:xiaomai
}