<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>装备卡片</title>
    <script src="../res/vue2.js"></script>
    <link rel="stylesheet" href="../css/equip.css">
</head>

<body>
    <div id="app">
        <div class="equip-iconBox">
            <img class="equip-icon-border" src="../res/equip/equip_border.png">
            <img class="equip-icon-quality" :src="'../res/equip/quality/' + data.quality + '.png'">
            <img class="equip-icon" :src="'../res/equip/icon/' + data.icon + '.png'" onerror="this.onerror=null; this.src='../res/equip/icon/none.png'">
        </div>
        <div class="equip-baseInfo">
            <div class="equip-name">
                {{ data.name }}
            </div>
            <div class="quality">
                {{ convertToStars(data.quality) }}
            </div>
            <div class="attribute">
                <div v-for="item in data.attribute" :key="item.key">
                    {{ item.key }} {{ item.val }}
                </div>
            </div>
            <div class="info-box" v-if="data.skill.length > 0">
                <div class="info-box-title">附带技能:</div>
                <div class="info-box-content">
                    <div v-for="item in data.skill" :key="item.id">
                        No.{{ item.id }} - {{ item.name }}
                    </div>
                </div>
            </div>
            <div class="info-box">
                <div class="info-box-title">装备介绍:</div>
                <div class="info-box-content">
                    {{ data.desc }}
                </div>
            </div>
            <div class="info-box">
                <div class="info-box-title">装备来源:</div>
                <div class="info-box-content">
                    {{ data.source }}
                </div>
            </div>
            <div class="info-box">
                <div class="info-box-title">装备位置:</div>
                <div class="info-box-content">
                    {{ data.type }}
                </div>
            </div>
        </div>
    </div>
    <script>
        let data = {
            name: '星辰法杖111',
            quality: 9,
            icon: 'test',
            attribute: [],
            skill: [{ id: 'p1', name: '金璋皇极' }],
            desc: '',
            source: '世界掉落 · 十日终焉',
            type: '武器',
        };
        new Vue({
            el: '#app',
            data: {
                name: '',
                quality: 4,
                icon: 'none',
                attribute: [],
                skill: [],
                desc: '',
                source: '',
                type: '',
            },
            mounted() {
                this.data = data;
            },
            methods: {
                convertToStars(number) {
                    number = number + 1;
                    let str = '';
                    for (let i = 0; i < number; i++) {
                        str += '★';
                    }
                    return str;
                }
            }
        });
    </script>
 
</body>