.filter {
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 4px 2.5px 6px);
}

body {
    margin: 0;
    padding: 0;
    width: 406.5px;
    height: 593.5px;
    overflow: hidden;
    position: relative;
}

.pos {
    position: absolute;
}

.card-frame {
    width: 406.5px;
    height: 593.5px;
}

.card-name {
    position: absolute;
    top: 72px;
    left: 37.5px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.text-content {
    font-size: 10px;
    word-break: break-all;
    white-space: normal;
}

.inline-icon {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 2px 1px 3px);
}

.pos[style*="width: 687px"] {
    width: 343.5px !important;
    overflow: hidden;
}